footer {
  padding: 1.8rem 0;
  color: #ffffff;
  background-color: #000000;

  > section.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .social-links {
    @include flex();
    margin-bottom: 10px;
  }

  .footer-links {
    @include flex();
  }
}
